<section class="row">
<h3>Enter a url you would like shortened: </h3>
<%= form_for @changeset, Routes.page_path(@conn, :create), fn f -> %>
  <label>
    URL: <%= text_input f, :url %>
  </label>
  <%= submit "Submit" %>
<% end %>
</section>

<%= if @newlink do%>
<section class="row"> 
  <h3>Your shorty is: <%=link(@newlink, to: @newlink) %> </h3> 
</section>
<% end %>